{% extends "navbar.html" %}

{% block title %} - Description{% endblock %}
{% block head%}
<style>

.id_content01 {
    height: 800px;
}
.id_header01 {
    height: 200px;
}
.p1 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 48px;
	text-align: center;
}
.p4 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 25px;
	text-align: center;
}
</style>
{% endblock}

{% block body %}
<div id="id_wrapper">

	<div style="background: url(../static/pexels-la-miko-3616764.jpg)no-repeat; background-size:3500px 2200px;">	

		<div id="id_header" class="id_header01" style="text-align: center;">
			<br>
			<p class="p1">更新就診號碼</p><br>
		</div> 



		<div id="id_content" class="id_content01" style="text-align: center;">
			<p><br><br><br><br><br><br><br><br><br></p>
			<button  type="submit" name="reservation" style="background: url(../static/Update_number.png)no-repeat; border-style:none; width:250px; height:130px; position:relative;top:60px;"></button>
			<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>
		</div>
		
	</div> 
	
</div> 
{% endblock}
{% block javascripts %}{% endblock %}