
<html>



<head>
<meta charset="utf-8">
<title>test</title>
<style>
	article 	{ width: 500%;
		  float: right;
		  margin:  0 0 50px;
		  color: #FFFFFF;
                  } 

	sidebar		{ width: 40%;
		  float: left;
		  margin: 0 0 50px;
		  color: #FFFFFF;
                  } 

	@media screen and(min-width: 800px)
		{
		article { width: 100px;
				float: right;
				margin:  0 0 50px;
				color: #FFFFFF;
				} 

		sidebar	{ width: 300px;
				float: left;
				margin:  0 0 50px;
				color: #FFFFFF;
				} 

		}
	
</style>
</head>

<body>
<form method="post" action="https://140.134.26.17:3333/" enctype="multipart/form-data">
    <center><span style="font-size:2cm;">模擬線上預約系統</span></center>
	<div style="background: url(../static/Home.png) no-repeat;width:100%;height:1200px;background-position:50% -1000%; text-align:center">
    
    <br>
	<!--<input type="submit" name="reservation" style="background: url(../static/Online_appointment_registration.png) no-repeat; border=0; width: 280px; position:relative;top:230px">-->
		
	<button  type="submit" name="reservation" style="background: url(../static/Online_appointment_registration.png) no-repeat; border-style:none; width: 400px; height:400px; position:relative;top:230px"></button>
	<br>
	<button  type="submit" name="inquireOnline" style="background: url(../static/Online_inquiry.png) no-repeat; border-style:none; width: 400px; height:400px; position:relative;top:350px;right:20"></button>
	<button  type="submit" name="description" style="background: url(../static/Systems_manual.png) no-repeat; border-style:none; width: 400px; height:400px; position:relative;top:350px;left:20"></button>
		<!--<img src="../static/Online_appointment_registration.png" style="width: 280px; position:relative;top:230px">-->
	<!--</button>-->
	<br>
	
	<!--<input  type="Submit" name="inquireOnline" style="background-image:url(../static/Online_inquiry.png); width: 280px; height:280px; position:relative;top:350px;right:20>
		<!--<img src="../static/Online_inquiry.png" style="width: 280px; position:relative;top:350px;right:20">-->
	<!--</button>-->
	
	<!--<input  type="Submit" name="description" style="background-image:url(../static/Systems_manual.png); width: 280px; height:280px; position:relative;top:350px;left:20>
		<!--<img src="../static/Systems_manual.png" style="width: 280px; position:relative;top:350px;left:20">-->
	<!--</button>-->
	
	<br>
	</div>
</form>

<div style = "text-align:center;">
	<p style = "font-size : 48px">【這是一個方便生活、節約時間】</p>
	<p style = "font-size : 48px">【並帶給人們美好體驗的貼心系統】</p>
</div>
</body>

</html>
 <img src="static/123.jpg"/>
