<!doctype html>
<html>
  <script>  
    function checkPatient() {
      
      console.log('click~~~~~~~~~~~~~~~~~~~~~~~~~')
      
      // var patientData = JSON.parse('{{patientData | tojson | safe}}');
      // console.log(patientData)
      // patientID = document.getElementById("patientID");
      // patientID.setAttribute('value', 'patientID : ' + patientData[0]);

      // Name = document.getElementById("Name");
      // Name.setAttribute('value', 'Name : ' + patientData[1]);

      // Phone = document.getElementById("Phone");
      // Phone.setAttribute('value', 'Phone : ' + patientData[2]);

      // Address = document.getElementById("Address");
      // Address.setAttribute('value', 'Address : ' + patientData[3]);
    }
  </script>
<body>
  <ul> 
    {% for patient in patientData %} 
      <li><h1>{{ patient }}</h1></li> 
    {% endfor %} 
  </ul> 
  <!-- <text id = 'patientID'><h1>PatientID</h3></text>
  <text id = 'name'><h3>Name</h3></text>
  <text id = 'phone'><h3>Phone</h3></text>
  <text id = 'address'><h3>Address</h3></text> -->
  
  <!-- <button onclick = "checkPatient()" >check</button> -->
</body>
</html>