{% extends "navbar.html" %}

{% block head %}
{{ super() }}

<style>

.id_content01 {
    height: 700px;
}
.id_header01 {
    height: 200px;
}
.p1 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 48px;
	text-align: center;
}
.p2 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 30px;
	text-align: center;
}
.p4 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 25px;
	text-align: center;
}
</style>

{% endblock %}
{% block title %} - 查詢/取消預約掛號{% endblock %}
{% block body %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <br>
    <div class="alert alert-warning alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
</div>

<div id="id_wrapper">
	
	<div style="background: url(../static/pexels-la-miko-3616764.jpg)no-repeat; background-size:3500px 2200px;">

		<div id="id_header" class="id_header01" style="text-align:center;">
			<br>
			<p class="p1">查詢/取消預約掛號</p>
			<HR>
		</div> 
				
		<div id="id_content" class="id_content01" style = "text-align:center;">
			<form name = "patientData" method="post" action="https://140.134.26.17:3333/check" enctype="multipart/form-data">
			
				<p id="patientId" class="p2">身分證ID:</p>
				<p id="patientName" class="p2">姓名:</text></p>
				<p id="date" class="p2">日期:</text></p>
				<p id="department" class="p2">科別:</text></p>
				<p id="doctor" class="p2">醫生:</text></p>
				<p id="number" class="p2">掛號號碼:</text></p>
				
				
				<input type="submit" class="p2" name = 'return' value="上一頁">
				<input type="submit" class="p2" name = "cancel" value="取消掛號" onclick = "return cancelReservation()">
			
				<class id = "NoReservation">
				<div style = "text-align:center;">
					<p class="p2">您並沒有預約掛號</text></p>
					<p><input type="submit" class="p2" name="return" value="返回首頁"></p>    
				</div>
				</class>	
			</form>
		</div>
	
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ super() }}
<script>
	function cancelReservation(){
        // var patientId = document.forms["patientData"]["patientId"].value;
    
        // var patientName = document.forms["patientData"]["patientName"].value;
    
        // var date = document.forms["patientData"]["date"].value;
    
        // var department = document.forms["patientData"]["department"].value;
    
        // var doctor = document.forms["patientData"]["doctor"].value;

		var patientId = document.getElementById("patientId").textContent;
        
        var patientName = document.getElementById("patientName").textContent;
        
        var date = document.getElementById("date").textContent;
        
        var department = document.getElementById("department").textContent;
        
        var doctor = document.getElementById("doctor").textContent;
        
        var number = document.getElementById("number").textContent;

		console.log("console log 身分證ID: " + patientId +
            "\n姓名: " + patientName +
            "\n日期: " +  date +
            "\n科別: " +  department +
            "\n醫生: " +  doctor)
        if(confirm("確定要取消掛號嗎?\n" +
			"身分證ID: " + patientId +
            "\n姓名: " + patientName +
            "\n日期: " +  date +
            "\n科別: " +  department +
            "\n醫生: " +  doctor))
        {
            return true
        }
        else{
            return false
        }
	}
    if (patientData != null)
    {
        
        console.log('patient != Null ' + patientData)
        // document.getElementsByClassName("patientData").disabled = false;
        // document.getElementsByClassName("NoReservation").disabled = true;
        console.log('log ' + patientData[0])
        var patientId = document.getElementById("patientId");
        patientId.textContent = "身分證ID: " + patientData[0];
        patientId.setAttribute("v", "111111");
        // document.forms["patientData"]["patientId"] = patientData[0];
        
        var patientName = document.getElementById("patientName");
        patientName.textContent = "姓名: " + patientData[1];
        patientId.setAttribute('value', patientData[1]);
        
        var date = document.getElementById("date");
        date.textContent = "日期: " +  patientData[2];
        patientId.setAttribute('value', patientData[2]);
        
        var department = document.getElementById("department");
        department.textContent = "科別: " +  patientData[3];
        patientId.setAttribute('value', patientData[3]);
        
        var doctor = document.getElementById("doctor");
        doctor.textContent = "醫生: " +  patientData[4];
        patientId.setAttribute('value', patientData[4]);
        
        var number = document.getElementById("number");
        number.textContent = "掛號號碼: " +  patientData[5];
        patientId.setAttribute('value', patientData[5]);
        // var patientId = document.forms["patientData"]["patientId"].value;
    
        // var patientName = document.forms["patientData"]["patientName"].value;
    
        // var date = document.forms["patientData"]["date"].value;
    
        // var department = document.forms["patientData"]["department"].value;
    
        // var doctor = document.forms["patientData"]["doctor"].value;
    }
    // else 
    // {
    //     document.getElementsByClassName("NoReservation").disabled = false;
    //     document.getElementsByClassName("patientData").disabled = true;
    // }
</script>
{% endblock %}