{% extends "navbar.html" %}


{% block head%}
{{ super() }}

<style>

.id_content01 {
    height: 900px;
}
.id_header01 {
    height: 150px;
}
.p1 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 48px;
	text-align: center;
}
.p4 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 25px;
	text-align: center;
}
</style>

{% endblock %}

{% block title %} - 線上查詢{% endblock %}

{% block body %}
<div id="id_wrapper">
	
	<div style="background: url(../static/pexels-la-miko-3616764.jpg)no-repeat; background-size:3500px 2200px;">

		<div id="id_header" class="id_header01" style="text-align:center;">
			<br>
			<p class="p1">線上查詢</p>
		</div> 
		
		<div id="id_content" class="id_content01" style = "text-align:center;">
			<form method="post" action="https://140.134.26.17:3333/inquireOnline" enctype="multipart/form-data">
				<button  type="submit" name="inquireOrCancel" style="background: url(../static/Appointment_registration.png) no-repeat; border-style:none; width:280px; height:280px; position:relative;top:50px;"></button>
				<p><br><br><br><br></p>
				<button  type="submit" name="inquireCurrent" style="background: url(../static/Progress.png) no-repeat; border-style:none; width:280px; height:280px; position:relative;top:50px;"></button>
			</form>
		</div>
		
	</div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}