{% extends "navbar.html" %}

{% block title %} - 線上查詢{% endblock %}


{% block head%}
<style>

.id_content01 {
    height: 900px;
}
.id_header01 {
    height: 50px;
}
</style>
{% endblock %}
{% block body %}
<div id="id_wrapper">
	
	<div style="background: url(../static/pexels-la-miko-3616764.jpg) no-repeat;background-position:center ; background-size:cover">

		<div id="id_header" class="id_header01" style="text-align:center;">
			</br>
			<p style="font-size:48px" face="DFKai-sb">線上查詢</p>
		</div> 
		
		<div id="id_content" class="id_content01" style = "text-align:center;">
			<form method="post" action="https://140.134.26.17:3333/inquireOnline" enctype="multipart/form-data">
				</br>
				<button  type="submit" name="inquireOrCancel" style="background: url(../static/Appointment_registration.png) no-repeat; border-style:none; width:366px; height:366px; position:relative;top:50px; right:-47"></button>
				</br>
				<button  type="submit" name="inquireCurrent" style="background: url(../static/Progress.png) no-repeat; border-style:none; width:366px; height:366px; position:relative;top:50px; right:-47"></button>
				</br>
			</form>
		</div>
	</div>
</div>
{% endblock %}