{% extends "navbar.html" %}

{% block title %}Reservation{% endblock %}
{% block body %}
<div style = "text-align:center;">
    <p style = "font-size : 48px">線上預約</p>
    <HR>
    <p style = "font-size : 48px">電話預約</p>
    <form action="tel:04-123456789"><button type="submit" style = "font-size : 48px">撥打 04-123456789</button></form>
    <HR>
    <p style = "font-size : 48px">診所人員會詢問您的</p>
    <p style = "font-size : 48px">您的身分證+您的姓名+您的電話</p>
    <p style = "font-size : 48px">看診日期+看什麼科別+哪位醫生</p>
    <p style = "font-size : 48px">當資料告知完成後</p>
    <p style = "font-size : 48px">診所人員即會告知您是否</p>
    <p style = "font-size : 48px">預約完成</p>
    
</div>
<HR>
<div style = "text-align:center;">
    <p style = "font-size : 48px">【這是一個方便生活、節約時間】</p>
    <p style = "font-size : 48px">【並帶給人們美好體驗的貼心系統】</p>
</div>
<HR>
{% endblock %}