{% extends "navbar.html" %}
<html>

<head>
<meta charset="utf-8">
<title>線上預約-掛號</title>


{% block title %}Reservation{% endblock %}
{% block body %}

<script>
    function doubleDetermine()
    {
        var patientId = document.forms["patientData"]["patientId"].value;
    
        var patientName = document.forms["patientData"]["patientName"].value;
    
        var date = document.forms["patientData"]["date"].value;
    
        var department = document.forms["patientData"]["department"].value;
    
        var doctor = document.forms["patientData"]["doctor"].value;

        if(confirm("身分證ID: " + patientId +
            "\n姓名: " + patientName +
            "\n日期: " +  date +
            "\n科別: " +  department +
            "\n醫生: " +  doctor))
        {
            return true
        }
        else{
            return false
        }
    }
</script>

<style>
.id_content01 {
    height: 900px;
}
.id_header01 {
    height: 80px;
}
.id_bottom {
	position: fixed;
	height: 200px;
	width: 2150px;
	left: 10px;
}

</style>
</head>

<body>
<div id="id_wrapper">
	<div style="background: url(../static/pexels-la-miko-3616764.jpg) no-repeat; background-position:center; background-size:2200px 3500px">
		<div id="id_header" class="id_header01" style="text-align:center;" >
			</br>
			<font style="font-size:48px" face="DFKai-sb">線上預約-掛號</font>
			<HR>
		</div>
		
		
		<div id="id_content" class="id_content01" style="text-align:center;" face="DFKai-sb">
			</br>
			<font style = "font-size:25px" face="DFKai-sb" color="#000000">
			請選擇想預約的掛號日期
			<br>
			科別和醫師，填寫基本資料後
			<br>
			即可完成預約掛號
			</font>
			
			<HR>	
			<form name = "patientData", method="post" action="https://140.134.26.17:3333/reservationOnline" enctype="multipart/form-data">
				<div style = "text-align:center;" face="DFKai-sb">
					<p style = "font-size : 35px" face="DFKai-sb">身分證:<input type="ID" style = "font-size:20px;position:relative;right:-5px;" face="DFKai-sb" name="ID"></p>
					<p style = "font-size : 35px" face="DFKai-sb">姓名:<input type="name" style = "font-size:20px;position:relative;right:-5px;" face="DFKai-sb" name="name"></p>
					<p style = "font-size : 35px" face="DFKai-sb">日期:<input type="date" style = "font-size:20px;position:relative;right:-5px;" face="DFKai-sb" name="date"></p>

					<p style = "font-size : 35px">科別:
					<select name = "department" style = "font-size : 35px" face="DFKai-sb">
						<option>請選擇科別</option>
						<option>Dental</option>
						<option>Pediatrics</option>
						<option>cardiology</option>
					</select></p>

					<p style = "font-size : 35px">醫生:
					<select name = "doctor" style = "font-size : 35px" face="DFKai-sb">
						<option>請選擇醫生</option>
						<option>Denver</option>
						<option>Allen</option>
						<option>Ray</option>
					</select></p>

					<p><input type="submit" style = "font-size : 48px" name = "determine" value="確定"></p>
				</div>
			</form>
		</div>
		
		
		<footer id="id_footer" style="text-align:center;" style="text-align:center;">
			<font style ="font-size:25px" face="DFKai-sb">★這是一個方便生活、節約時間★</font>
			<br>
			<font style ="font-size:25px" face="DFKai-sb">★並帶給人們美好體驗的貼心系統★</font>	
		</footer> 
	</div>
</div>
{% endblock %}
</body>
</html>
