{% extends "navbar.html" %}
{% block title %} - 確認預約資訊{% endblock %}

{% block head %}
<style>
.id_content01 {
    height: 700px;
}
.id_header01 {
    height: 200px;
}
.id_bottom {
	position: fixed;
	height: 200px;
	width: 2150px;
	left: 10px;
}
</style>
{% endblock %}

{% block body %}
<div id="id_wrapper">
	<div style="background: url(../static/pexels-la-miko-3616764.jpg) no-repeat; background-position:center; background-size:2200px 3500px">
		<div id="id_header" class="id_header01" style="text-align:center;" >
			<br>
			<p style="font-size:48px" face="DFKai-sb">確認預約資訊</p>
		</div>
		
		<div id="id_content" class="id_content01" style="text-align:center;">
			<form method="post" action="https://140.134.26.17:3333/reservationOnline" enctype="multipart/form-data">
				<p id = "patientId" style="font-size:35px" face="DFKai-sb">身分證ID:範例</p>
				<br>
				<p id = "patientName" style="font-size:35px" face="DFKai-sb">姓名:範例</p>
				<br>
				<p id = "date" style="font-size:35px" face="DFKai-sb">日期:範例</p>
				<br>
				<p id = "department" style="font-size:35px" face="DFKai-sb">科別:範例</p>
				<br>
				<p id = "doctor" style="font-size:35px" face="DFKai-sb">醫生:範例</p>
				<br><br><br><br>
				<div>
					<button type="submit" name="doubleDetermine"  style="background: url(../static/check.png) no-repeat; border-style:none; width:366px; height:366px; position:relative;top:160px; right:-100;"></button>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
    var patientData = JSON.parse('{{patientData | tojson | safe}}');
    console.log(patientData)
    console.log(patientData[0])

    var patientId = document.getElementById("patientId");
    patientId.textContent = "身分證ID: " + patientData[0];
    
    var patientName = document.getElementById("patientName");
    patientName.textContent = "姓名: " + patientData[1]
    
    var date = document.getElementById("date");
    date.textContent = "日期: " +  patientData[2]
    
    var department = document.getElementById("department");
    department.textContent = "科別: " +  patientData[3]
    
    var doctor = document.getElementById("doctor");
    doctor.textContent = "醫生: " +  patientData[4]
</script>
{% endblock %}
