
<html>



<head>
<meta charset="utf-8">
<title>test</title>
</head>

<body>
    <div style = "text-align:center;">
		<p style = "font-size : 48px">確認預約資訊</p>
        <p style = "font-size : 48px">身分證ID:範例</p>
        <p style = "font-size : 48px">姓名:範例</p>
        <p style = "font-size : 48px">科別:範例</p>
        <p style = "font-size : 48px">醫生:範例</p>
        <p ><input type="button" style = "font-size : 48px" value="確認"></p>
	</div>

    <div style = "text-align:center;">
        <p style = "font-size : 48px">【這是一個方便生活、節約時間】</p>
        <p style = "font-size : 48px">【並帶給人們美好體驗的貼心系統】</p>
    </div>
</body>
</html>
