{% extends "navbar.html" %}


{% block head %}
{{ super() }}
<style>
.id_content01 {
    height: 1000px;
}
.id_header01 {
    height: 180px;
}
.id_bottom {
	position: fixed;
	height: 200px;
	width: 2150px;
	left: 10px;
}
.p1 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 48px;
	text-align: center;
}
.p2 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 30px;
	text-align: center;
}
.p4 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 25px;
	text-align: center;
}
</style>
{% endblock %}
{% block title %} - 線上預約-掛號{% endblock %}

{% block body %}



<div id="id_wrapper">
	<div style="background: url(../static/pexels-la-miko-3616764.jpg)no-repeat; background-size:3500px 2200px;">
		<div id="id_header" class="id_header01" style="text-align:center;" >
			</br>
			<p class="p1">線上預約-掛號</p>
			<HR>
		</div>
		
		
		<div id="id_content" class="id_content01">
			<p class="p2">
			請選擇想預約的掛號日期
			<br>
			科別和醫師，填寫基本資料後
			<br>
			即可完成預約掛號
			</p>
			
			<HR>	
			<form name = "patientData", method="post" action="https://140.134.26.17:3333/reservationOnline" enctype="multipart/form-data">
				<div style = "text-align:center;" face="DFKai-sb">
					<p class="p2">身分證: <input type="text" style = "font-size:20px;position:relative;right:-5px;" face="DFKai-sb" name="patientId"></p>
					<p class="p2">姓  名: <input type="text" style = "font-size:20px;position:relative;right:-12px;" face="DFKai-sb" name="patientName"></p>
					<p class="p2">日期: <input type="date" style = "font-size:20px;position:relative;right:-5px;" face="DFKai-sb" name="date"></p>

					<p class="p2">科別: 
					<select name = "department" class="p2">
						<option>請選擇科別</option>
						<option>Dental</option>
						<option>Pediatrics</option>
						<option>Cardiology</option>
					</select></p>

					<p class="p2">醫生: 
					<select name = "doctor" class="p2">
						<option>請選擇醫生</option>
						<option>Denver</option>
						<option>Allen</option>
						<option>Ray</option>
					</select></p>
					<br>
					<p><input type="submit" class="p2" style = "font-size : 40px" name = "determine" value="確定" onclick = "return doubleDetermine()"></p>
				</div>
			</form>
		</div>
		
	</div>
</div>
{% endblock %}

{% block javascripts %}
{{ super()}}
<!-- <script>console.log(patientData)</script> -->
<script>
    function doubleDetermine()
    {
        var patientId = document.forms["patientData"]["patientId"].value;
    
        var patientName = document.forms["patientData"]["patientName"].value;
    
        var date = document.forms["patientData"]["date"].value;
    
        var department = document.forms["patientData"]["department"].value;
    
        var doctor = document.forms["patientData"]["doctor"].value;

        if(confirm("身分證ID: " + patientId +
            "\n姓名: " + patientName +
            "\n日期: " +  date +
            "\n科別: " +  department +
            "\n醫生: " +  doctor))
        {
            return true
        }
        else{
            return false
        }
    }
</script>
{% endblock %}