{% extends "navbar.html" %}
{% block title %} - 確認預約資訊{% endblock %}

{% block head %}
<style>
.id_content01 {
    height: 800px;
}
.id_header01 {
    height: 200px;
}
.id_bottom {
	position: fixed;
	height: 200px;
	width: 2150px;
	left: 10px;
}
.p1 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 48px;
	text-align: center;
}
.p2 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 30px;
	text-align: center;
}
.p4 {
	font-family: DFKai-sb;
	color: #000000;
	font-size: 25px;
	text-align: center;
}
</style>
{% endblock %}

{% block body %}
<div id="id_wrapper">
	<div style="background: url(../static/pexels-la-miko-3616764.jpg)no-repeat; background-size:3500px 2200px;">
	
		<div id="id_header" class="id_header01">
			<br>
			<p class="p1">確認預約資訊</p>
		</div>
		
		
		<div id="id_content" class="id_content01" style="text-align:center;">
			<form method="post" action="https://140.134.26.17:3333/reservationOnline" enctype="multipart/form-data">
				<p id = "patientId" class="p2">身分證ID:範例</p>
				<p id = "patientName" class="p2">姓名:範例</p>
				<p id = "date" class="p2">日期:範例</p>
				<p id = "department" class="p2">科別:範例</p>
				<p id = "doctor" class="p2">醫生:範例</p>
				<br><br>
				<button type="submit" name="determine" style="background:url(../static/check.png) no-repeat;border-style:none;width:170px;height:100px;position:relative;top:50px;"></button>
			</form>
			
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ super()}}
<script>
    // var patientData = JSON.parse('{{patientData | tojson | safe}}');
    // console.log(patientData)
    console.log(patientData[0])

    var patientId = document.getElementById("patientId");
    patientId.textContent = "身分證ID: " + patientData[0];
    
    var patientName = document.getElementById("patientName");
    patientName.textContent = "姓名: " + patientData[1]
    
    var date = document.getElementById("date");
    date.textContent = "日期: " +  patientData[2]
    
    var department = document.getElementById("department");
    department.textContent = "科別: " +  patientData[3]
    
    var doctor = document.getElementById("doctor");
    doctor.textContent = "醫生: " +  patientData[4]
</script>

{% endblock %}
